html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  letter-spacing: normal;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
body {
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
  }
section.main {
  width: 100vw;
  height: 82.6vw;
}


audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}

details,
menu {
  display: block;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  color: black;
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.-cursor {
  cursor: none !important;
}
body.-cursor * {
  cursor: none !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: 0 !important;
}
::-moz-selection {
  color: #fff;
  background: #1E6CFF;
}
::selection {
  color: #fff;
  background: #1E6CFF;
}
a {
  color: inherit;
  cursor: pointer;
}
a:focus,
a:hover {
  color: inherit;
  text-decoration: underline;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
figure {
  margin: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
}
.wt-view {
  height: 100%;
  background: #fff;
}
.wt-content {
  height: 100%;
}
.wt-content .scrollbar-track {
  right: 3px;
  background: 0 0;
}
.wt-content .scrollbar-thumb-y {
  background: #4d53ca;
}
.wt-content .scrollbar-thumb-y:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -3px;
  left: -3px;
  bottom: 0;
}
.wt-content .scrollbar-thumb-y:hover {
  background: #1E6CFF;
}
.wt-content .scroll-content {
  height: 100%;
  will-change: transform;
}
.wt-content .scrollmagic-pin-spacer {
  margin: 0 !important;
}
.wt-content .scrollmagic-pin-spacer > * {
  margin: 0 !important;
}
.wt-container,
.wt-footer-container,
.wt-getapp-footer-container,
.wt-navbar-container {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .wt-container,
  .wt-footer-container,
  .wt-getapp-footer-container,
  .wt-navbar-container {
    padding: 0 50px;
  }
}
@media (min-width: 1200px) {
  .wt-container,
  .wt-footer-container,
  .wt-getapp-footer-container,
  .wt-navbar-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  .wt-container,
  .wt-footer-container,
  .wt-getapp-footer-container,
  .wt-navbar-container {
    max-width: 1600px;
    padding: 0 70px;
  }
}
.-lg.wt-footer-container,
.-lg.wt-getapp-footer-container,
.-lg.wt-navbar-container,
.wt-advantage-container,
.wt-brief-container,
.wt-change-container,
.wt-container.-lg,
.wt-description-container,
.wt-envelope-container,
.wt-feature-container,
.wt-getapp-container,
.wt-hero-container,
.wt-intro-container,
.wt-outro-container,
.wt-showreel-container {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .-lg.wt-footer-container,
  .-lg.wt-getapp-footer-container,
  .-lg.wt-navbar-container,
  .wt-advantage-container,
  .wt-brief-container,
  .wt-change-container,
  .wt-container.-lg,
  .wt-description-container,
  .wt-envelope-container,
  .wt-feature-container,
  .wt-getapp-container,
  .wt-hero-container,
  .wt-intro-container,
  .wt-outro-container,
  .wt-showreel-container {
    padding: 0 90px;
  }
}
@media (min-width: 1024px) {
  .-lg.wt-footer-container,
  .-lg.wt-getapp-footer-container,
  .-lg.wt-navbar-container,
  .wt-advantage-container,
  .wt-brief-container,
  .wt-change-container,
  .wt-container.-lg,
  .wt-description-container,
  .wt-envelope-container,
  .wt-feature-container,
  .wt-getapp-container,
  .wt-hero-container,
  .wt-intro-container,
  .wt-outro-container,
  .wt-showreel-container {
    padding: 0 120px;
  }
}
@media (min-width: 1200px) {
  .-lg.wt-footer-container,
  .-lg.wt-getapp-footer-container,
  .-lg.wt-navbar-container,
  .wt-advantage-container,
  .wt-brief-container,
  .wt-change-container,
  .wt-container.-lg,
  .wt-description-container,
  .wt-envelope-container,
  .wt-feature-container,
  .wt-getapp-container,
  .wt-hero-container,
  .wt-intro-container,
  .wt-outro-container,
  .wt-showreel-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
  }
}
@media (min-width: 1600px) {
  .-lg.wt-footer-container,
  .-lg.wt-getapp-footer-container,
  .-lg.wt-navbar-container,
  .wt-advantage-container,
  .wt-brief-container,
  .wt-change-container,
  .wt-container.-lg,
  .wt-description-container,
  .wt-envelope-container,
  .wt-feature-container,
  .wt-getapp-container,
  .wt-hero-container,
  .wt-intro-container,
  .wt-outro-container,
  .wt-showreel-container {
    max-width: 1600px;
    padding: 0 270px 0 270px;
  }
}
.wt-bound {
  width: 100%;
  overflow: hidden;
}
.wt-svgsprite {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}
.wt-sprite {
  display: inline-block;
  background-image: url(../img/sprites/sprites.png);
  background-repeat: no-repeat;
}

.wt-sprite.-wcard {
  background-position: 0 0;
  width: 47px;
  height: 75px;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .wt-sprite {
    background-image: url(../img/sprites/sprites@2x.png);
    -webkit-background-size: 176px 138px;
    -moz-background-size: 176px 138px;
    background-size: 176px 138px;
  }
}
.wt-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  contain: layout style size;
  pointer-events: none;
  will-change: transform;
}
.wt-cursor:after,
.wt-cursor:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  margin: -11px 0 0 -11px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #1E6CFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out,
    -moz-transform 0.4s ease-in-out, -o-transform 0.4s ease-in-out;
}
.wt-cursor:after {
  opacity: 0;
  animation: wt-cursor-loading 0.6s infinite alternate-reverse paused;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.wt-cursor:before {
  width: 88px;
  height: 88px;
  margin: -44px 0 0 -44px;
}
@supports (mix-blend-mode: exclusion) {
  .wt-cursor.-default,
  .wt-cursor.-exclusion {
    mix-blend-mode: exclusion;
  }
}
@supports (mix-blend-mode: exclusion) {
  .wt-cursor.-default:after,
  .wt-cursor.-default:before,
  .wt-cursor.-exclusion:after,
  .wt-cursor.-exclusion:before {
    background: #ded742;
  }
}
.wt-cursor.-normal,
.wt-cursor.-scale {
  mix-blend-mode: normal;
}
.wt-cursor.-normal:after,
.wt-cursor.-normal:before,
.wt-cursor.-scale:after,
.wt-cursor.-scale:before {
  background: #1E6CFF;
}
.wt-cursor.-scrollbar:before,
.wt-cursor.-visible:before,
.wt-cursor.wt-navbar.-open:before,
.wt-navbar.-open .wt-cursor.wt-navbar.wt-navbar-menu:before {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
}
.wt-cursor.-loading.-scrollbar,
.wt-cursor.-loading.wt-navbar.-open,
.wt-cursor.-visible.-loading,
.wt-navbar.-open .wt-cursor.-loading.wt-navbar.wt-navbar-menu {
  z-index: 1000;
}
.wt-cursor.-loading.-scrollbar:before,
.wt-cursor.-loading.wt-navbar.-open:before,
.wt-cursor.-visible.-loading:before,
.wt-navbar.-open .wt-cursor.-loading.wt-navbar.wt-navbar-menu:before {
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transform: scale(0) !important;
}
.wt-cursor.-loading.-scrollbar:after,
.wt-cursor.-loading.wt-navbar.-open:after,
.wt-cursor.-visible.-loading:after,
.wt-navbar.-open .wt-cursor.-loading.wt-navbar.wt-navbar-menu:after {
  opacity: 1;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
.wt-cursor.-hidden:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.wt-cursor.-pointer:before {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}
.wt-cursor.-magnetic:before {
  -webkit-transform: scale(0.15);
  -moz-transform: scale(0.15);
  -ms-transform: scale(0.15);
  -o-transform: scale(0.15);
  transform: scale(0.15);
}
.wt-cursor.-default:before {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
}
.wt-cursor.-scale {
  z-index: 98;
}
.wt-cursor.-scale:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.wt-cursor.-scrollbar:before {
  -webkit-transform: scale(0.18);
  -moz-transform: scale(0.18);
  -ms-transform: scale(0.18);
  -o-transform: scale(0.18);
  transform: scale(0.18);
}
.wt-cursor.-opaque:before {
  background: #1E6CFF;
}
.safari .wt-cursor:before {
  width: 88px;
  height: 88px;
  margin: -44px 0 0 -44px;
}
.safari .wt-cursor.-scrollbar:before,
.safari .wt-cursor.-visible:before,
.safari .wt-cursor.wt-navbar.-open:before,
.safari .wt-navbar.-open .wt-cursor.wt-navbar.wt-navbar-menu:before,
.wt-navbar.-open .safari .wt-cursor.wt-navbar.wt-navbar-menu:before {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
}
.safari .wt-cursor.-hidden:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.safari .wt-cursor.-pointer:before {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}
.safari .wt-cursor.-magnetic:before {
  -webkit-transform: scale(0.15);
  -moz-transform: scale(0.15);
  -ms-transform: scale(0.15);
  -o-transform: scale(0.15);
  transform: scale(0.15);
}
.safari .wt-cursor.-default:before {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
}
.safari .wt-cursor.-scale:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.safari .wt-cursor.-scrollbar:before {
  -webkit-transform: scale(0.18);
  -moz-transform: scale(0.18);
  -ms-transform: scale(0.18);
  -o-transform: scale(0.18);
  transform: scale(0.18);
}

.wt-navbar-container {
  height: 100%;
  max-width: none;
}
.wt-navbar-strip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 99;
  pointer-events: none;
  -webkit-transition: top 0.4s, background 0.3s, -webkit-transform 0.4s;
  transition: top 0.4s, background 0.3s, -webkit-transform 0.4s;
  -o-transition: top 0.4s, background 0.3s, -o-transform 0.4s;
  -moz-transition: top 0.4s, transform 0.4s, background 0.3s,
    -moz-transform 0.4s;
  transition: top 0.4s, transform 0.4s, background 0.3s;
  transition: top 0.4s, transform 0.4s, background 0.3s, -webkit-transform 0.4s,
    -moz-transform 0.4s, -o-transform 0.4s;
}
@media (min-width: 768px) {
  .wt-navbar-strip {
    top: 25px;
  }
}
@media (min-width: 1600px) {
  .wt-navbar-strip {
    top: 25px;
  }
}
.wt-navbar-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wt-navbar-grid-col {
  pointer-events: auto;
}
.wt-navbar-logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;


  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.wt-navbar-logo a:before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: -20px;
  right: -20px;
  bottom: -30px;
}
.wt-navbar-logo a:focus,
.wt-navbar-logo a:hover {
  text-decoration: none;
}
.wt-navbar-logo img {
  width: 75px;
}
@media (min-width: 768px) {
  .wt-navbar-logo img {
    width: 75px;

  }
}
.wt-navbar-nav {
  display: none;
}
@media (min-width: 768px) {
  .wt-navbar-nav {
    display: inline-block;
    margin: 0 -20px;
    padding: 0 38px 0 0;
    vertical-align: middle;
  }
}
@media (min-width: 1200px) {
  .wt-navbar-nav {
    margin: 0 -30px;
    padding: 0 60px 0 0;
  }
}
.wt-navbar-nav-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.21px;
  text-decoration: none;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .wt-navbar-nav-item {
    font-size: 15px;
    letter-spacing: -0.22px;
  }
}
@media (min-width: 1200px) {
  .wt-navbar-nav-item {
    padding: 0 30px;
  }
}
.wt-navbar-nav-item:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  bottom: -20px;
}
.wt-navbar-nav-item-bound {
  display: block;
  overflow: hidden;
}
.wt-navbar-nav-item-bound span {
  position: relative;
  display: block;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.wt-navbar-nav-item-bound span:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 140%;
  -webkit-transform: skewY(30deg);
  -moz-transform: skewY(30deg);
  -ms-transform: skewY(30deg);
  -o-transform: skewY(30deg);
  transform: skewY(30deg);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  color: #fff;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.no-js .wt-navbar-nav-item-bound span:after {
  color: inherit;
}
.wt-navbar-nav-item:focus {
  text-decoration: none;
}
.wt-navbar-nav-item:hover {
  text-decoration: none;
}
.wt-navbar-nav-item:hover .wt-navbar-nav-item-bound span {
  -webkit-transform: translateY(-140%) skewY(7deg);
  -moz-transform: translateY(-140%) skewY(7deg);
  -ms-transform: translateY(-140%) skewY(7deg);
  -o-transform: translateY(-140%) skewY(7deg);
  transform: translateY(-140%) skewY(7deg);
}
@media (pointer: coarse) {
  .wt-navbar-nav-item:hover .wt-navbar-nav-item-bound span {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.wt-navbar-nav-item:hover .wt-navbar-nav-item-bound span:after,
.wt-navbar-nav-item:hover .wt-navbar-nav-item-bound span:before {
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
}
@media (pointer: coarse) {
  .wt-navbar-nav-item:hover .wt-navbar-nav-item-bound span:after,
  .wt-navbar-nav-item:hover .wt-navbar-nav-item-bound span:before {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.wt-navbar-sign {
  display: none;
}
@media (min-width: 768px) {
  .wt-navbar-sign {
    display: inline-block;
    vertical-align: middle;
  }
}
.wt-navbar-toggle {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 30px;
  line-height: 0;
}
@media (min-width: 768px) {
  .wt-navbar-toggle {
    display: none;
  }
}
.wt-navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0s 0.6s;
  -o-transition: max-height 0s 0.6s;
  -moz-transition: max-height 0s 0.6s;
  transition: max-height 0s 0.6s;
}
@media (min-width: 768px) {
  .wt-navbar-menu {
    display: none;
  }
}
.wt-navbar-menu-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  background: #fff;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  -o-transition: -o-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  -moz-transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s,
    -moz-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s,
    -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s,
    -moz-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s,
    -o-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
.wt-navbar-menu-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.wt-navbar-menu-nav {
  text-align: center;
}
.wt-navbar-menu-nav-item {
  display: block;
  padding: 10px 0;
  overflow: hidden;
  color: #1E6CFF;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.59px;
  text-decoration: none;
}
.wt-navbar-menu-nav-item span {
  display: inline-block;
}
.wt-navbar-menu-nav-item:focus,
.wt-navbar-menu-nav-item:hover {
  text-decoration: none;
}
.wt-navbar-menu.-open,
.wt-navbar.-open .wt-navbar-menu {
  max-height: 100%;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.wt-navbar-menu.-open .wt-navbar-menu-fill,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-fill {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.wt-navbar-menu.-open .wt-navbar-menu-content,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-content {
  opacity: 1;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.wt-navbar-menu.-open .wt-navbar-menu-nav-item span,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-nav-item span {
  -webkit-animation: wt-navbar-menu-nav-show 1.2s cubic-bezier(0.19, 1, 0.22, 1)
    backwards;
  -moz-animation: wt-navbar-menu-nav-show 1.2s cubic-bezier(0.19, 1, 0.22, 1)
    backwards;
  -o-animation: wt-navbar-menu-nav-show 1.2s cubic-bezier(0.19, 1, 0.22, 1)
    backwards;
  animation: wt-navbar-menu-nav-show 1.2s cubic-bezier(0.19, 1, 0.22, 1)
    backwards;
}
.wt-navbar-menu.-open .wt-navbar-menu-nav-item:nth-child(1) span,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-nav-item:nth-child(1) span {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.wt-navbar-menu.-open .wt-navbar-menu-nav-item:nth-child(2) span,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-nav-item:nth-child(2) span {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.wt-navbar-menu.-open .wt-navbar-menu-nav-item:nth-child(3) span,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-nav-item:nth-child(3) span {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.wt-navbar-menu.-open .wt-navbar-menu-nav-item:nth-child(4) span,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-nav-item:nth-child(4) span {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.wt-navbar-menu.-open .wt-navbar-menu-nav-item:nth-child(5) span,
.wt-navbar.-open .wt-navbar-menu .wt-navbar-menu-nav-item:nth-child(5) span {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@media (max-width: 1199px) {
  .wt-navbar.-fixed .wt-navbar-strip {
    top: 0;
    -webkit-transform: translateY(-64px);
    -moz-transform: translateY(-64px);
    -ms-transform: translateY(-64px);
    -o-transform: translateY(-64px);
    transform: translateY(-64px);
    background: #fff;
  }
  @supports (
    (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
  ) {
    .wt-navbar.-fixed .wt-navbar-strip {
      background: white;
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
    }
  }
}
@media (max-width: 1199px) {
  .wt-navbar.-fixed.-open .wt-navbar-strip,
  .wt-navbar.-fixed.-visible .wt-navbar-strip,
  .wt-navbar.-fixed.wt-cursor.-scrollbar .wt-navbar-strip,
  .wt-navbar.-open .wt-navbar.-fixed.wt-navbar-menu .wt-navbar-strip {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes wt-navbar-menu-nav-show {
  0% {
    -webkit-transform: skewY(7deg) translateY(110%);
    transform: skewY(7deg) translateY(110%);
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  100% {
    -webkit-transform: skewY(0) translateY(0);
    transform: skewY(0) translateY(0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
}
@-moz-keyframes wt-navbar-menu-nav-show {
  0% {
    -moz-transform: skewY(7deg) translateY(110%);
    transform: skewY(7deg) translateY(110%);
    -moz-transform-origin: left center;
    transform-origin: left center;
  }
  100% {
    -moz-transform: skewY(0) translateY(0);
    transform: skewY(0) translateY(0);
    -moz-transform-origin: left center;
    transform-origin: left center;
  }
}
@-o-keyframes wt-navbar-menu-nav-show {
  0% {
    -o-transform: skewY(7deg) translateY(110%);
    transform: skewY(7deg) translateY(110%);
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  100% {
    -o-transform: skewY(0) translateY(0);
    transform: skewY(0) translateY(0);
    -o-transform-origin: left center;
    transform-origin: left center;
  }
}
@keyframes wt-navbar-menu-nav-show {
  0% {
    -webkit-transform: skewY(7deg) translateY(110%);
    -moz-transform: skewY(7deg) translateY(110%);
    -o-transform: skewY(7deg) translateY(110%);
    transform: skewY(7deg) translateY(110%);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  100% {
    -webkit-transform: skewY(0) translateY(0);
    -moz-transform: skewY(0) translateY(0);
    -o-transform: skewY(0) translateY(0);
    transform: skewY(0) translateY(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
}
.wt-loader {
  display: inline;
}
.wt-loader_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  max-height: 0%;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  background: #fff;
  -webkit-transition: opacity 0.7s, max-height 0s 0.7s;
  -o-transition: opacity 0.7s, max-height 0s 0.7s;
  -moz-transition: opacity 0.7s, max-height 0s 0.7s;
  transition: opacity 0.7s, max-height 0s 0.7s;
}
.wt-loader_overlay.-visible,
.wt-loader_overlay.wt-cursor.-scrollbar,
.wt-loader_overlay.wt-navbar.-open,
.wt-navbar.-open .wt-loader_overlay.wt-navbar.wt-navbar-menu {
  pointer-events: auto;
  opacity: 1;
  max-height: 100%;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.wt-form-grid {
  display: table;
  width: 100%;
}
.wt-form-grid-col {
  display: table-cell;
  vertical-align: middle;
}

.wt-btn {
  display: inline;
}

.wt-btn_menu,
.wt-btn_sign {
  position: relative;
  display: inline-block;
  height: auto;
  margin: 0;
  padding: 0;
  color: #1E6CFF;
  background: 0 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 0 !important;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
  text-indent: inherit;
}
.wt-btn_menu:focus,
.wt-btn_menu:hover,
.wt-btn_sign:focus,
.wt-btn_sign:hover {
  text-decoration: none;
}
.wt-btn_menu {
  width: 21px;
  height: 21px;
}
.wt-btn_menu:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
.wt-btn_menu span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin: 4px 0;
  top: 0;
  background: #1E6CFF;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
  transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
  -o-transition: top 0.3s 0.3s, -o-transform 0.3s 0s;
  -moz-transition: top 0.3s 0.3s, transform 0.3s 0s, -moz-transform 0.3s 0s;
  transition: top 0.3s 0.3s, transform 0.3s 0s;
  transition: top 0.3s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s,
    -moz-transform 0.3s 0s, -o-transform 0.3s 0s;
}
.wt-btn_menu.-active span,
.wt-navbar.-open  button.wt-btn_menu span {
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
  -moz-transition: top 0.3s, transform 0.3s 0.3s, -moz-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s,
    -moz-transform 0.3s 0.3s, -o-transform 0.3s 0.3s;
}
.wt-btn_menu.-active span:first-child,
.wt-navbar.-open  button.wt-btn_menu span:first-child {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wt-btn_menu.-active span:last-child,
.wt-navbar.-open button.wt-btn_menu span:last-child {
  top: -2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (pointer: coarse) {
  .wt-btn_rounded:focus .wt-btn_rounded-bound span,
  .wt-btn_rounded:hover .wt-btn_rounded-bound span {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.wt-btn_rounded:focus .wt-btn_rounded-bound span:after,
.wt-btn_rounded:hover .wt-btn_rounded-bound span:after {
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
}
@media (pointer: coarse) {
  .wt-btn_rounded:focus .wt-btn_rounded-bound span:after,
  .wt-btn_rounded:hover .wt-btn_rounded-bound span:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.wt-btn_sign {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.21px;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
@media (min-width: 768px) {
  .wt-btn_sign {
    height: 35px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    font-size: 15px;
    letter-spacing: -0.22px;
  }
  .wt-btn_sign:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    background: #9DBFFF;
    -webkit-transition: background 0.4s,
      -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background 0.4s,
      -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: background 0.4s,
      -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: background 0.4s,
      transform 1s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background 0.4s, transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background 0.4s, transform 1s cubic-bezier(0.19, 1, 0.22, 1),
      -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1),
      -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1),
      -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@media (min-width: 1200px) {
  .wt-btn_sign {
    height: 45px;
  }
}
@media (min-width: 1600px) {
  .wt-btn_sign {
    height: 51px;
  }
}
.wt-btn_sign-bound {
  display: block;
  overflow: hidden;
  width: 100%;
}
.wt-btn_sign-bound span {
  position: relative;
  display: inline-block;
}
@media (min-width: 768px) {
  .wt-btn_sign-bound span {
    padding: 0 21px;
    -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
    -moz-animation: wt-btn_sign-marquee 2s linear infinite;
    -o-animation: wt-btn_sign-marquee 2s linear infinite;
    animation: wt-btn_sign-marquee 2s linear infinite;
  }
}
@media (min-width: 1200px) {
  .wt-btn_sign-bound span {
    padding: 0 25px;
  }
}
@media (min-width: 768px) {
  .wt-btn_sign-bound span:after {
    content: attr(data-text);
    position: absolute;
    left: 100%;
    padding: 0 21px;
  }
}
@media (min-width: 1200px) {
  .wt-btn_sign-bound span:after {
    padding: 0 25px;
  }
}
@media (min-width: 768px) {
  .wt-btn_sign:hover {
    color: #fff;
  }
  .wt-btn_sign:hover:before {
    background: #1E6CFF;
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
  }
}
@-webkit-keyframes wt-btn_sign-marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes wt-btn_sign-marquee {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-o-keyframes wt-btn_sign-marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes wt-btn_sign-marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.wt-social {
  display: inline-block;
  margin: 0 -10px;
}
@media (min-width: 768px) {
  .wt-social {
    margin: 0 -15px;
  }
}


.wt-phone {
  position: relative;
  display: inline-block;
  contain: layout style;
}
.wt-phone-shadow {
  position: absolute;
  top: -8.577%;
  left: -41.289%;
  right: -14.68%;
  bottom: -11.483%;
  opacity: 0.8;
  background-image: url(../img/demo/phone-shadow.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.wt-phone-case {
  position: relative;
  width: 212.55px;
  height: 447.2px;
  background-image: url(../img/demo/phone.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  .wt-phone-case {
    width: 277.95px;
    height: 584.8px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .wt-phone-case {
    background-image: url(../img/demo/phone@2x.png);
  }
}
@media (min-width: 1600px) {
  .wt-phone-case {
    width: 327px;
    height: 688px;
  }
}
.wt-phone-screen {
  position: absolute;
  top: 8.45px;
  left: 6.5px;
  width: 199.55px;
  height: 430.3px;
  overflow: hidden;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  background: #fff;
}
@media (min-width: 768px) {
  .wt-phone-screen {
    top: 11.05px;
    left: 8.5px;
    width: 260.95px;
    height: 562.7px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
}
@media (min-width: 1600px) {
  .wt-phone-screen {
    top: 13px;
    left: 10px;
    width: 307px;
    height: 662px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
}
.wt-phone-screen-video {
  height: 100%;
  width: 100%;
  line-height: 0;
  contain: content;
}
.wt-phone-screen-video video {
  height: 100%;
  width: 100%;
}
.ie .wt-phone-screen-video video {
  -webkit-transform: scale(1.011);
  -moz-transform: scale(1.011);
  -ms-transform: scale(1.011);
  -o-transform: scale(1.011);
  transform: scale(1.011);
}
.wt-phone-screen-img {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.wt-phone-screen-video + .wt-phone-screen-img {
  display: none;
}
.wt-phone-screen-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.wt-phone-screen-svg svg {
  height: 100%;
  width: 100%;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}
.wt-navbar.-open .wt-phone-screen-svg.wt-navbar.wt-navbar-menu,
.wt-phone-screen-svg.-visible,
.wt-phone-screen-svg.wt-cursor.-scrollbar,
.wt-phone-screen-svg.wt-navbar.-open {
  opacity: 1;
}
.wt-particle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  contain: content;
}
.wt-particle-item {
  position: absolute;
  will-change: transform;
  opacity: 0;
  pointer-events: auto;
}
.wt-particle-item:before {
  content: "";
  display: block;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out, -moz-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out,
    -moz-transform 0.5s ease-out, -o-transform 0.5s ease-out;
}
.wt-particle-item:after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}
.wt-particle-item s {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out, -moz-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out,
    -moz-transform 0.5s ease-out, -o-transform 0.5s ease-out;
}
.wt-particle-item.-dot:before {
  height: 32px;
  width: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.wt-particle-item.-v1 {
  display: none;
  left: 75%;
  -webkit-transform: rotate(-159deg);
  -moz-transform: rotate(-159deg);
  -ms-transform: rotate(-159deg);
  -o-transform: rotate(-159deg);
  transform: rotate(-159deg);
}
@media (min-width: 1400px) {
  .wt-particle-item.-v1 {
    display: block;
  }
}
.wt-particle-item.-v2 {
  left: 84%;
  -webkit-transform: scale(0.4) rotate(125deg);
  -moz-transform: scale(0.4) rotate(125deg);
  -ms-transform: scale(0.4) rotate(125deg);
  -o-transform: scale(0.4) rotate(125deg);
  transform: scale(0.4) rotate(125deg);
}
@media (min-width: 1024px) {
  .wt-particle-item.-v2 {
    -webkit-transform: scale(0.7) rotate(125deg);
    -moz-transform: scale(0.7) rotate(125deg);
    -ms-transform: scale(0.7) rotate(125deg);
    -o-transform: scale(0.7) rotate(125deg);
    transform: scale(0.7) rotate(125deg);
  }
}
.wt-particle-item.-v3 {
  left: 13%;
  -webkit-transform: scale(0.5) rotate(-165deg);
  -moz-transform: scale(0.5) rotate(-165deg);
  -ms-transform: scale(0.5) rotate(-165deg);
  -o-transform: scale(0.5) rotate(-165deg);
  transform: scale(0.5) rotate(-165deg);
}
@media (min-width: 1024px) {
  .wt-particle-item.-v3 {
    -webkit-transform: rotate(-165deg);
    -moz-transform: rotate(-165deg);
    -ms-transform: rotate(-165deg);
    -o-transform: rotate(-165deg);
    transform: rotate(-165deg);
  }
}
.wt-particle-item.-v4 {
  left: 4%;
  -webkit-transform: scale(0.2) rotate(-105deg);
  -moz-transform: scale(0.2) rotate(-105deg);
  -ms-transform: scale(0.2) rotate(-105deg);
  -o-transform: scale(0.2) rotate(-105deg);
  transform: scale(0.2) rotate(-105deg);
}
@media (min-width: 1600px) {
  .wt-particle-item.-v4 {
    left: 21%;
    -webkit-transform: scale(0.7) rotate(-105deg);
    -moz-transform: scale(0.7) rotate(-105deg);
    -ms-transform: scale(0.7) rotate(-105deg);
    -o-transform: scale(0.7) rotate(-105deg);
    transform: scale(0.7) rotate(-105deg);
  }
}
.wt-particle-item.-v5 {
  display: none;
  left: 7%;
}
.wt-particle-item.-v5:before {
  height: 11px;
  width: 11px;
  background: #9DBFFF;
}
.wt-particle-item.-v6 {
  left: 21%;
}
@media (min-width: 1600px) {
  .wt-particle-item.-v6 {
    left: 25%;
  }
}
.wt-particle-item.-v6:before {
  height: 14px;
  width: 14px;
  background: #1E6CFF;
}
.wt-particle-item.-v7 {
  left: 8%;
}
.wt-particle-item.-v7:before {
  height: 11px;
  width: 11px;
  background: #9DBFFF;
}
.wt-particle-item.-v8 {
  left: 2%;
}
.wt-particle-item.-v8:before {
  height: 13px;
  width: 13px;
  background: #1E6CFF;
}
.wt-particle-item.-v9 {
  left: 18%;
}
.wt-particle-item.-v9:before {
  height: 11px;
  width: 11px;
  background: #9DBFFF;
}
.wt-particle-item.-v10 {
  left: 89%;
}
.wt-particle-item.-v10:before {
  height: 11px;
  width: 11px;
  background: #1E6CFF;
}
.wt-particle-item.-v11 {
  left: 95%;
}
.wt-particle-item.-v11:before {
  height: 16px;
  width: 16px;
  background: #9DBFFF;
}
.wt-particle-item.-v12 {
  left: 78%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
}
@media (min-width: 768px) {
  .wt-particle-item.-v12 {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@media (min-width: 1600px) {
  .wt-particle-item.-v12 {
    left: 72%;
  }
}
.wt-particle-item.-v12:before {
  height: 36px;
  width: 36px;
  background: #1E6CFF;
}
.wt-particle-item.-v13 {
  left: 80%;
}
@media (min-width: 1024px) {
  .wt-particle-item.-v13 {
    left: 71%;
  }
}
@media (min-width: 1600px) {
  .wt-particle-item.-v13 {
    left: 98%;
  }
}
.wt-particle-item.-v13:before {
  height: 11px;
  width: 11px;
  background: #1E6CFF;
}
.wt-particle-item.-v20 {
  display: none;
  left: 75%;
  -webkit-transform: scale(0.8) rotate(-159deg);
  -moz-transform: scale(0.8) rotate(-159deg);
  -ms-transform: scale(0.8) rotate(-159deg);
  -o-transform: scale(0.8) rotate(-159deg);
  transform: scale(0.8) rotate(-159deg);
}
@media (min-width: 1400px) {
  .wt-particle-item.-v20 {
    display: block;
  }
}
.wt-particle-item.-v21 {
  left: 84%;
  -webkit-transform: scale(0.6) rotate(-125deg);
  -moz-transform: scale(0.6) rotate(-125deg);
  -ms-transform: scale(0.6) rotate(-125deg);
  -o-transform: scale(0.6) rotate(-125deg);
  transform: scale(0.6) rotate(-125deg);
}
.wt-particle-item.-v22 {
  left: 13%;
  -webkit-transform: scale(0.5) rotate(-165deg);
  -moz-transform: scale(0.5) rotate(-165deg);
  -ms-transform: scale(0.5) rotate(-165deg);
  -o-transform: scale(0.5) rotate(-165deg);
  transform: scale(0.5) rotate(-165deg);
}
@media (min-width: 1024px) {
  .wt-particle-item.-v22 {
    -webkit-transform: scale(0.7) rotate(-165deg);
    -moz-transform: scale(0.7) rotate(-165deg);
    -ms-transform: scale(0.7) rotate(-165deg);
    -o-transform: scale(0.7) rotate(-165deg);
    transform: scale(0.7) rotate(-165deg);
  }
}
.wt-particle-item:hover s {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  -moz-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
.wt-particle-item:hover:before {
  -webkit-transform: scale3d(2, 2, 1);
  -moz-transform: scale3d(2, 2, 1);
  transform: scale3d(2, 2, 1);
}
.wt-hero {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.wt-hero-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.wt-hero-particle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
}
.wt-hero-content {
  min-height: 520px;
  padding: 180px 0 150px 0;
}
@media (min-width: 768px) {
  .wt-hero-content {
    padding: 0 0 200px 0;
  }
}
@media (min-width: 1600px) {
  .wt-hero-content {
    padding: 0 0 250px 0;
  }
}
.wt-hero-body {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .wt-hero-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}
.wt-hero-footer {
  margin: 150px 0 0 0;
}
@media (min-width: 768px) {
  .wt-hero-footer {
    margin: -100px 0 0 0;
  }
}
@media (min-width: 1600px) {
  .wt-hero-footer {
    margin: -150px 0 0 0;
  }
}
@media (min-width: 768px) {
  .wt-hero-container {
    padding: 0;
    width: 100%;
  }
}
.wt-hero-header {
  position: relative;
  contain: layout style;
}
.wt-hero-header h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  letter-spacing: normal;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -0.075em;
  line-height: 113%;
  text-rendering: optimizeSpeed;
}
@media (min-width: 375px) {
  .wt-hero-header h1 {
    font-size: 52px;
      letter-spacing: normal;

  }
}
@media (min-width: 768px) {
  .wt-hero-header h1 {
    font-size: 90px;
      letter-spacing: normal;
  }
}
@media (min-width: 1024px) {
  .wt-hero-header h1 {
    font-size: 110px;
      letter-spacing: normal;
  }
}
@media (min-width: 1200px) {
  .wt-hero-header h1 {
    font-size: 8vw;
      letter-spacing: normal;
  }
}
.wt-hero-header-shape {
  display: none;
  position: absolute;
  top: -10px;
  left: -5px;
  right: -5px;
  bottom: -50px;
  overflow: hidden;
  background: #1E6CFF;
}
@supports (mix-blend-mode: screen) {
  .wt-hero-header-shape {
    display: block;
    contain: strict;
  }
}
.wt-hero-header-shape-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  will-change: transform;
}
.wt-hero-header-shape-item.-v1 {
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #9DBFFF;
}
.wt-hero-header-shape-item.-v2 {
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #9DBFFF;
}
.wt-hero-header-shape-item.-v3 {
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #FCB18B;
}
.wt-hero-header-blend {
  position: relative;
  z-index: 1;
  color: #1E6CFF;
  letter-spacing: 0.1vw;
}
@supports (mix-blend-mode: screen) {
  .wt-hero-header-blend {
    color: #000;
    background: #fff;
    mix-blend-mode: screen;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    letter-spacing: 0.1vw;
  }
  .wt-hero-header-blend:before {
    content: "";
    position: absolute;
    top: -12px;
    left: -6px;
    right: -6px;
    bottom: -52px;
    z-index: -1;
    background: #fff;
      letter-spacing: 0.1vw;
  }
}

.wt-hero-demo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wt-hero-card {
  position: absolute;
  display: block;
  top: 45px;
  left: 50%;
  width: 170px;
  height: 267px;
  margin: 0 0 0 -85px;
  background-image: url(../img/demo/wcard-xs@2x.png);
  -webkit-background-size: 170px 267px;
  -moz-background-size: 170px 267px;
  background-size: 170px 267px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-transform-origin: 50% 120%;
  -moz-transform-origin: 50% 120%;
  -ms-transform-origin: 50% 120%;
  -o-transform-origin: 50% 120%;
  transform-origin: 50% 120%;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .wt-hero-card {
    background-image: url(../img/demo/wcard-xs@2x.png);
  }
}
@media (min-width: 768px) {
  .wt-hero-card {
    top: 90px;
    width: 220px;
    height: 345px;
    margin: 0 0 0 -110px;
    background-image: url(../img/demo/wcard-sm@2x.png);
    -webkit-background-size: 220px 345px;
    -moz-background-size: 220px 345px;
    background-size: 220px 345px;
    transform:matrix3d(0.870126, -0.492837, 0, 0, 0.492837, 0.870126, 0, 0, 0, 0, 1, 0, -47, 0, 0, 1);
}
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .wt-hero-card {
    background-image: url(../img/demo/people.png);
  }
}
@media (min-width: 1600px) {
  .wt-hero-card {
    top: 80px;
    width: 260px;
    height: 408px;
    margin: 0 0 0 -130px;
    background-image: url(../img/demo/wcard.png);
    -webkit-background-size: 260px 408px;
    -moz-background-size: 260px 408px;
    background-size: 260px 408px;
  }
}
@media (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1600px) and (-o-min-device-pixel-ratio: 2/1),
  (min-width: 1600px) and (min-resolution: 192dpi) {
  .wt-hero-card {
    background-image: url(../img/demo/wcard@2x.png);
  }
}
.wt-hero-phone {
  position: relative;
}
.wt-intro {
  position: relative;
  z-index: 2;
}
